body {
  background-color: rgba(174, 182, 191, 0.4);
}

#row {
  overflow-y: hidden;
}

.card {
  width: 15em;
  height: 15em;
  border: 1px solid transparent;
  perspective: 600px;
  float: left;
  margin: 1em;
}

.image {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  object-fit: contain;

}

.modal {
  display: none;
  position: absolute;
  z-index: 1;
  width: 50em;
  height: 50em;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.1);
  margin-left: 10em;
  margin-top: 5em;
  margin-bottom: 5em;
  border: 2px groove #045074;
  -webkit-transition: 1.5s;
  transition: all 0.3s linear;
}

.modal-content {
  position: absolute;
  margin: 2em;
  border: 1px solid transparent;
  width: 80%;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
  font-family: "Comic Sans MS";
  font-weight: 900;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.5em;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

.close {
  color: rgb(21, 67, 96);
  float: right;
  font-size: 28px;
  font-weight: 900;
  margin: 1em;
}

.close:hover,
.close:focus {
  color: rgb(244, 208, 63);
  text-decoration: none;
  cursor: pointer;
}

h3 {
  color: rgb(241, 196, 15);
}