body { font-family: sans-serif; 
}

#row {
  overflow-y: hidden;
}

.card {
  width: 18vw;
  height: 18vw;
  border: 1px solid transparent;
  perspective: 600px;
  float: left;
  margin: 1em;
}

.image {
  height: 100%; 
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  object-fit: contain;

}

.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 50vw; /* Full width */
  height: 50vw; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: red; /* Black w/ opacity */
  margin-left: 20vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
  border: 1px solid transparent;
  -webkit-transition: 1.5s;
   transition: all 0.3s linear;
}


/* Modal Content */
.modal-content {
  position: absolute;
  margin: auto;
  border: 1px solid transparent;
  width: 80%;

}

/* The Close Button */
.close {
  position: absolute;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
